fastapi
uvicorn
pydantic
openai
nltk
PyPDF2
python-multipart
requests
pandas
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
